<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/products.css">                 
    
</head>
<body>
    <header>
        <%- include('partials/navbar'); %>    
    </header>
    
    <div class="container">
       <% if(products) { 
           for(let product of products) { %>
            <div class="col-sm-6 productCard">
                <div class="card cardContent">
                    <img class="card-img-top cardImg" src="/<%= product.picture %>" alt="Card image cap">
                    <div class="card-body cardBody">
                        <h4 class="card-title"><%= product.title %></h4>
                        <hr>
                        <div class="textCard">
                            <p class="card-text "><%= product.description %></p>
                            <div class="imageDropdown">    
                            </div>
                        </div>
                        <hr>
                            <p class="text-center"><%= product.price %></p>
                        <hr>
                        <div class="cardButtons">
                            <a href="#" class="btn btn-success" href="">Details</a>
                            <a href="/add-tocart/<%= product.id %>" class="btn btn-success">Add to cart</a>
                        </div>
                      </div>
                </div>
            </div>
        <%  }
       } %>    
    </div>

</body>
</html>